Pillow
picamera2
google-ai-generativelanguage
google-cloud-speech
google-auth
six
firebase-admin
pyaudio
pygame
gtts
requests
googlemaps
SpeechRecognition
rapidfuzz
qmc5883l
twilio
python-dotenv
smbus2
pyserial
mutagen
